* {
  font-family: 'Ubuntu', sans-serif !important;
}

html {
  background-color: #f6f9fc;
}

body {
  height: 100vh;
  width: 100vw;
  color: rgb(28, 28, 30);
  background-color: #f6f9fc;
}

#column-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 10px 0 0 0;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0 0 0;
}

#face-img {
  width: 200px;
  border-radius: 50%;
  margin: 25px 0 0 0;
}

#icon-nav {
  margin: 25px 0 0 0;
}

li {
  padding: 0 5px 0 5px !important;
}

a {
  fill: #ad82ff !important;
  color: #ad82ff !important;
}

a:hover {
  fill: #762dff !important;
  color: #762dff !important;
}

.uk-tooltip {
  font-size: 13px;
}

#paragraph-div {
  margin: 0;
}

p {
  font-size: 18px;
  font-weight: normal;
  margin: 15px 0 0 0;
  padding: 0 20px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  #column-div {
    width: 100%;
  }
}